<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcode.rls.roomlease.mapper.RoomLeaseListMapper">

    <!--    查询全部-->
    <select id="getRoomLeaseList" resultMap="roomleaselist">
        select *
        from roomleaselist;
    </select>

    <!-- 根据roomNO查询 -->
    <select id="getRoomLeaseListByRoomNO" resultMap="roomleaselist">
        select *
        from roomleaselist
        where roomNO = #{roomNO};
    </select>

    <resultMap id="roomleaselist" type="com.imcode.rls.roomlease.model.RoomLeaseList">
        <result property="roomListID" column="roomListID"/>
        <result property="contractNO" column="contractNO"/>
        <result property="contractTime" column="contractTime"/>
        <result property="contractUser" column="contractUser"/>
        <result property="userCard" column="userCard"/>
        <result property="applyId" column="applyId"/>
        <result property="status" column="status"/>
        <association property="userID" column="userID" javaType="com.imcode.rls.userinfo.model.UserInfo"
                     select="getUserInfo"/>
        <association property="roomNO" column="roomNO" javaType="com.imcode.rls.roomsource.model.RoomSource"
                     select="getRoomSourceList"/>
        <association property="applyID" column="applyID" javaType="com.imcode.rls.roomapply.model.Apply"
                     select="selectById"/>

    </resultMap>
    <resultMap id="roomsourcelist" type="com.imcode.rls.roomsource.model.RoomSource">
        <result property="roomID" column="roomID"/>
        <result property="roomNO" column="roomNO"/>
        <result property="roomAddress" column="roomAddress"/>
        <result property="roomArea" column="roomArea"/>
        <result property="roomStatus" column="roomStatus"/>
        <result property="roomTime" column="roomTime"/>
        <result property="roomLatelyTime" column="roomLatelyTime"/>
        <result property="roomDeleteStatus" column="roomDeleteStatus"/>
        <association property="user" column="userID" javaType="com.imcode.rls.user.model.Loginregister"
                     select="getLoginregister"/>
    </resultMap>
    <resultMap id="roomapplylist" type="com.imcode.rls.roomapply.model.Apply">
        <result property="applyID" column="applyID"/>
        <result property="applyStatus" column="applyStatus"/>
        <association property="userID" column="userID" javaType="com.imcode.rls.userinfo.model.UserInfo"
                     select="getUserInfo"/>
        <association property="roomNO" column="roomNO" javaType="com.imcode.rls.roomsource.model.RoomSource"
                     select="getRoomSource"/>
    </resultMap>

    <select id="getUserInfo" resultMap="getLogin">
        select *
        from UserInfo
        where userID = #{userID};
    </select>
    <resultMap id="getLogin" type="com.imcode.rls.userinfo.model.UserInfo">
        <association property="userID" column="userID" javaType="com.imcode.rls.user.model.Loginregister"
                     select="getLoginUser"/>
    </resultMap>
    <select id="getRoomSource" resultType="com.imcode.rls.roomsource.model.RoomSource">
        select * from roomsource where roomNO = #{roomNO};
    </select>
    <select id="getLoginUser" resultType="com.imcode.rls.user.model.Loginregister">
        select * from loginregister where userID = #{userID};
    </select>
    <select id="getRoomSourceList" resultType="com.imcode.rls.roomsource.model.RoomSource">
        select *
        from roomsource
        where roomNO = #{roomNO}
    </select>

    <select id="selectById" resultType="com.imcode.rls.roomapply.model.Apply">
        select * from roomapply where applyID=#{applyID}
    </select>


<!--    &lt;!&ndash; ..租客查询已同意（在租）申请 &ndash;&gt;-->
<!--    <select id="selectBystatu" resultType="com.imcode.rls.roomapply.model.Apply" parameterType="String">-->
<!--        select *-->
<!--        from roomapply-->
<!--        where applyStatus = 1-->
<!--          and userID = #{userID}-->
<!--        limit #{currentPage},#{pageSize};-->
<!--    </select>-->

    <!-- ..管理员查询已同意（在租）申请 -->
    <select id="cselectBystatu" resultMap="roomapplylist">
        select *
        from roomapply
        where applyStatus = 1
        limit #{currentPage},#{pageSize};
    </select>

    <!-- ..管理员新增合同 -->
    <insert id="addContract" parameterType="map">
        insert into roomleaselist(roomListID,roomNO,userID,contractNO,contractTime,contractUser,userCard,applyID,status)
        values (null,#{roomNO},#{userID},#{contractNO},now(),#{contractUser},#{userCard},#{applyID},"在租");
    </insert>

    <!-- ..管理员新增合同后房源列表状态改变（已租） -->
    <update id="updateRoomBystatus" parameterType="map">
        update roomsource
        set roomStatus= "已租"
        where roomNO = #{roomNO}
    </update>

    <!-- ..管理员新增合同后申请状态改变 -->
    <update id="updateApplyBystatus" parameterType="map">
        update roomapply
        set applyStatus = 3
        where applyID = #{applyID}
    </update>


    <!-- ..（批量）管理员批量新增合同 -->
    <insert id="batchAddContract" parameterType="list">
        insert into roomleaselist(roomListID,roomNO,userID,contractNO,contractTime,contractUser,userCard,applyID,status)
        values
        <foreach collection="list" item="roomlease" separator=",">
            (
            null,#{roomlease.roomNO},#{roomlease.userID},#{roomlease.contractNO},
            now(),#{roomlease.contractUser},#{roomlease.userCard},#{roomlease.applyID},"在租"
            )
        </foreach>
    </insert>

    <!-- （批量）修改房源列表状态改变（已租） -->
    <update id="batchupdateRoomBystatus" parameterType="list">
        update roomsource
        set roomStatus= "已租"
        where roomNO in
        <foreach collection="list" item="roomNO" open="(" separator="," close=")">
            #{roomNO}
        </foreach>
    </update>

    <!-- ..（批量）修改管理员新增合同后申请状态 -->
    <update id="batchupdateApplyBystatus" parameterType="list">
        update roomapply
        set applyStatus = 3
        where applyID in
        <foreach collection="list" item="applyID" open="(" separator="," close=")">
            #{applyID}
        </foreach>
    </update>

    <!-- ..根据状态查询 -->
    <select id="getSelectBystatu" resultMap="roomleaselist" parameterType="String">
        select *
        from roomleaselist
        where status = #{status};
    </select>

    <!-- ..管理员查询所有的在租列表  -->
    <select id="getAllRoomLeaseByRent" resultMap="roomleaselist">
        select *
        from roomleaselist
        where status = "在租"
        limit #{currentPage},#{pageSize};
    </select>

    <!-- ..管理员终止合同 -->
    <update id="updateRoomLeaseList" parameterType="map">
        update roomleaselist
        set status= "已退租"
        where roomListID = #{roomListID}
    </update>

    <update id="updaterefuseRoomLease" parameterType="map">
        update roomleaselist
        set status= "在租"
        where roomListID = #{roomListID}
    </update>

    <!-- ..管理员新增合同后房源列表状态改变（已租） -->
    <update id="updateRoomByRented" parameterType="map">
        update roomsource
        set roomStatus= "已租"
        where roomNO = #{roomNO}
    </update>

    <!-- ..（终止合同之后）管理员房源列表状态改变（空闲） -->
    <update id="getupdateRoomBystatus" parameterType="map">
        update roomsource
        set roomStatus= "空闲"
        where roomNO = #{roomNO}
    </update>

    <!-- ..管理员查询所有的已退租列表  -->
    <select id="getAllRoomLeaseByWithout" resultMap="roomleaselist" parameterType="map">
        select *
        from roomleaselist
        where status = "已退租"
        limit #{currentPage},#{pageSize};
    </select>

    <!-- ..租客查询在租列表 -->
    <select id="getRoomLeaseByRent" resultMap="roomleaselist" parameterType="map">
        select *
        from roomleaselist
        where status = "在租" and userCard = #{userCard}
        limit #{currentPage},#{pageSize};
    </select>

    <!-- ..租客查询已退租列表 -->
    <select id="getRoomLeaseByWithout" resultMap="roomleaselist" parameterType="map">
        select *
        from roomleaselist
        where status = "已退租" and userCard = #{userCard}
        limit #{currentPage},#{pageSize};
    </select>

    <!-- 租客申请退租 -->
    <update id="tenantVacating" parameterType="map">
        update roomleaselist
        set `status` = "正在退租"
        where roomListID = #{roomListID}
    </update>

    <!-- ..租客申请退租后申请状态改变 -->
    <update id="tenantApplyByStatus" parameterType="map">
        update roomapply
        set applyStatus = 4,
        roomListID = #{roomListID}
        where applyID=#{applyID}
    </update>

    <!-- ..删除已退租列表 -->
    <delete id="deleteRoomLeaseList" parameterType="int">
        delete
        from roomleaselist
        where roomListID = #{roomListID}
    </delete>

    <!-- ..（批量）删除已退租列表 -->
    <delete id="batchdeleteRoomLeaseList" parameterType="list">
        delete
        from roomleaselist
        where roomListID in
        <foreach collection="list" item="roomListID" open="(" separator="," close=")">
            #{roomListID}
        </foreach>
    </delete>

    <!-- （批量）修改房源列表状态改变（空闲） -->
    <update id="getupdateRoomBystatusList" parameterType="list">
        update roomsource
        set roomStatus= "空闲"
        where roomNO in
        <foreach collection="list" item="roomNO" open="(" separator="," close=")">
            #{roomNO}
        </foreach>
    </update>

    <!-- （批量）修改房源列表状态改变（已租） -->
    <update id="updateRoomByRentedList" parameterType="list">
        update roomsource
        set roomStatus= "已租"
        where roomNO in
        <foreach collection="list" item="roomNO" open="(" separator="," close=")">
            #{roomNO}
        </foreach>
    </update>

    <!-- ..管理员批量同意终止合同 -->
    <update id="updateRoomLeaseLists" parameterType="list">
        update roomleaselist
        set status= "已退租"
        where roomListID in
        <foreach collection="list" item="roomListID" open="(" separator="," close=")">
              #{roomListID}
        </foreach>
    </update>
    <!--管理员批量拒绝终止合同-->
    <update id="updaterefuseRoomLeases" parameterType="list">
        update roomleaselist
        set status= "在租"
        where roomListID in
        <foreach collection="list" item="roomListID" open="(" separator="," close=")">
            #{roomListID}
        </foreach>
    </update>
</mapper>