<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcode.rls.userinfo.mapper.UserInfoMapper">
    <insert id="addUserInfo" parameterType="map">
        insert into userinfo(userID,userName,userMail,userCard) values (#{userID},#{userName},#{userMail},#{userCard})
    </insert>
</mapper>
